@media(min-width: 768px) {
    .news-input {
        width: 60%;
    }
}

body::before {
    content: "";
    display: block;
    height: 60px;
}

#instructors .card img {
    transition: 80ms ease-in-out;
}

#instructors .card:hover img {

    filter: saturate(1.4);
    transform: scale(1.05);
}

#google-map {
    border-radius: 16px;
}